.netrwhist
npm-debug.log

plug.vim.old

config/nvim/spell
config/nvim/shada
config/nvim/plugged
config/nvim/undodir
config/nvim/after/syntax
config/Karabiner/automatic_backups
vim/vim.symlink/spell/
vim/vim.symlink/plugged/

Brewfile.lock.json
